/*HEADER*/
.top-bar {
  position: relative;  /* referencia para el logo absoluto */
  display: flex;
  justify-content: space-between; /* links a la izquierda, icons a la derecha */
  align-items: center;
  width: 100%;
  padding: 0 20px;
  height: 80px;
}
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
.links {
        display: inline-block;
    }
    #btnMenu {
        position: absolute;
        padding: 10px 20px;
        color: #610909;
        background-color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1rem;
    }
    /* Estilos base del menú */
    #menu{
        margin: -45px;
        list-style: none;
        background: #f0b6b6;
        color: white;
        min-width: 180px;
        border-radius: 0px 8px 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        z-index: 100;
        /* Estado inicial para el efecto */
        opacity: 0;               /* Invisible */
        transform: translateY(-10px); /* Ligeramente hacia arriba */
        pointer-events: none;     /* No clickeable cuando está oculto */
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    /* Estado visible */
    #menu.show {
        opacity: 1;
        transform: translateY(37px);
        pointer-events: auto;
    }
    #btnMenu.cosa {
        border-radius: 8px 8px 0px 0px;
    }
    #menu li {
        padding: 12px 20px;
    }
    #menu li a {
        text-decoration: none;
        color: #610909;
        display: block;
    }
    #menu li:hover {
    background:#b20000;
    color: black;
    }

/*Posiciones del header*/
.icons a{
    margin-left: 20px;
}

.logo {
    position: relative;
    left: 50px;
}

.logo img{
    max-height: 120px;
}
/*Barra de navegación*/
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    gap: 25px; /*Espacio entre los hijos*/
    padding: 0;
    margin: 20px 0 0 30px;
}
.nav ul li a{
    text-decoration: none;
    font-weight: bold; /*Grosor del texto*/
    color:#610909;
}
/*FOOTER*/

footer{
    color: #fff;
    background-color:#610909;
    display: flex;
    gap: 67.5rem; /*Espacio entre los hijos*/
}
.footer p{
    color:#fff;
}
.docu a{
    color:#fff;
}
.dere p{
    text-align: center;
}

.dere img{
    padding-left: 15px;
    gap:15px;
}